@media (min-width:1600px) and (max-width: 1920px) {
    body {
      
    }
    
.hero{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 40px;
    padding-bottom: 220px;
}
.nav{
    gap: 60px;
}
.nav a{
    font-size: 18px;
    font-weight: 800;
    
}
.check{
    font-size: 18px;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 800;
}
.die{
    padding-top: 184px;
}
.erlebe{
    font-size: 64px;
    font-weight: 900;
    line-height: 76px;
}
.zeit{
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
}
.erlebe{
    padding-top: 30px;
}
.magie{
    font-size: 18px;
    padding-left: 44px;
    padding-right: 44px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 800;
}
.bist{
    padding-bottom: 117px;
}
.du{
    text-align: center;
    font-size: 54px;
    font-weight: 400;
    line-height: 73px;
    padding-top: 110px;
}
.vedio{
    width: 1311px;
    height: 645px;
    
}
.vedi{
    display: flex;
    justify-content: center;  
    padding-top: 46px;
}
.cardsbg{
    height: 1200px;
}
.komm{
    padding-top: 60px;
}
.komm h2{
    text-align: center;
    font-size: 54px;
    font-weight: 400;
    line-height: 73px;
    
}
.cards{
    display: flex;
    justify-content: center;
    gap: 47px;
    padding-top: 60px;
}
.cards1{
    width: 508px;
    height: 653px;
}
.deine{
        text-align: center;
        font-size: 54px;
        font-weight: 400;
        line-height: 73px;
        color: white;
        padding-top: 48px;
}
.dasbush{
    display: flex; 
    padding-top: 70px;
    gap: 47px;
}
.bush{
    background-color: black;
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding-left: 11px;
    padding-right: 11px;
    padding-bottom: 5px;
    padding-top: 3px;
}
.expan h2{
    font-size: 30px;
    font-weight: 800;
    line-height: 43px;
    color: white;
    
}
.eine{
    padding-top: 11px;
}
.expan p{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: white;
    padding-top: 10px;
}
.welt{
    
    
}
.das{
    display: flex;
    flex-direction: row;
    gap: 47px;
    background-color: #5B6878;
    border: 1px solid #5B6878 ;
    border-radius: 60px;
    padding-left: 47px;
    padding-right: 47px;
    padding-top: 47px;
    padding-bottom: 47px;
    margin-bottom: 47px;
}

.zumshop{
    display: flex;
    /* justify-content: space-between; */
   align-items: center;
    padding-top: 135px;
    gap: 65px;
    
}
.zumshop1{
    display: flex;
    /* justify-content: space-between; */
   align-items: center;
    padding-top: 95px;
    gap: 65px;
    
}
.zum{
    color: white;
    padding-left:32px ;
    padding-right: 32px;
    padding-top: 14px;
    padding-bottom: 14px;
    border: 1px solid white;
    border-radius: 60px;
}
.zumshop h2{
    font-size: 33px;
    font-weight: 400;
}
.expansioncodes{
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 74px;
}
.btnn{
    color: black;
    background-color: white;
    font-size: 16px;
    padding-top: 4px;
    padding-bottom: 5px;
    padding-left: 11px;
    padding-right: 11px;
    border-radius: 60px;
}

.ffcodes{
    padding-top: 47px;
    padding-bottom: 47px;
    padding-left: 47px;
    padding-right: 47px;
    border-radius: 60px;
    margin-bottom: 46px;
}
.magi{
    font-size: 32px;
    font-weight: 800;
    color: white;
    padding-top: 11px;
}
.srt{
    color:  #56616F;
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    padding-top: 10px;
}
.zumshops{
    display: flex;
    /* justify-content: space-between; */
   align-items: center;
    padding-top: 54px;
    gap: 65px;
    
}
.zumshops h2{
    font-size: 33px;
    font-weight: 400;
    color: white;
}
.bundle{
    padding-top: 47px;
}

.flowercards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 47px;
}
.flower{
    background-color: #5B6878;
    border-radius: 40px;
    padding-top: 47px;
    /* padding-bottom: 47px; */
    padding-left: 47px;
    padding-right: 47px;
}
.flower h2{
    font-size: 32px;
    font-weight: 800;
    color: white;
    padding-top: 28px;
    line-height: 60px;
}
.flower p{
    font-size: 16px;
    font-weight: 400;
    color: white;
    padding-top: 8px;
    line-height: 30px;
}
.fire{
    background-color: #5B6878;
    border-radius: 40px;
    padding-top: 47px;
    /* padding-bottom: 47px; */
    padding-left: 47px;
    padding-right: 47px;
}
.fire h2{
    font-size: 32px;
    font-weight: 800;
    color: white;
    padding-top: 28px;
}
.fire p{
    font-size: 16px;
    font-weight: 400;
    color: white;
    padding-top: 8px;
    line-height: 30px;
}
.snake{
    background-color: #5B6878;
    border-radius: 40px;
    padding-top: 47px;
    /* padding-bottom: 47px; */
    padding-left: 47px;
    padding-right: 47px;
}
.snake h2{
    font-size: 32px;
    font-weight: 800;
    color: white;
    padding-top: 28px;
}
.snake p{
    font-size: 16px;
    font-weight: 400;
    color: white;
    padding-top: 8px;
    line-height: 30px;
}
.flzumshops{
   display: flex;
   justify-content: end;
 align-items: center;
    padding-top: 59px;
}

.fizumshops{
    display: flex;
    justify-content: space-between;
    align-items: center;
     padding-top: 19px;
 }
 .snzumshops{
    display: flex;
    justify-content: space-between;
    align-items: center;
     padding-top: 19px;
 }
 .snzumshops h2{
    font-size: 33px;
    font-weight: 400;
    color: white;
    padding-top: 0;
}
.fizumshops h2{
    font-size: 33px;
    font-weight: 400;
    color: white;
    padding-top: 0;
}
.app{
    padding-top: 39px;
    text-align: center;
}
.app h2{
    font-size: 54px;
    font-weight: 400;
    color: black;
}
.app p{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 45px;
    color: black;
    padding-top: 30px;
}
.appcheck{
    padding-top: 45px;
}
.phone{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 164px;
}
.vision{
    padding-left: 1010px;
    padding-right: 150px;
    padding-top: 63px;
    padding-bottom: 653px;
}
.vision h2{
    font-size: 38px;
    font-weight: 400;
    color: #EFE5C7;
    line-height: 51px;
}
.vision p{
    font-size: 20px;
    font-weight: 400;
    color: white;
    line-height: 40px;
    padding-top: 20px;
}
.checkin{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
.hello{
    padding-top: 285px;
    padding-left: 150px;
    padding-bottom: 313px;
}
.hello h2{
    font-size: 132px;
    font-weight: 800;
}
.hello p{
    font-size: 58px;
    font-weight: 500;
}
.sarah{
    padding-top: 54px;
}
.footer{
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 100px;
    
}
.work h2{
    color: #EFE5C7;
}
  }

